// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // [tablet +]: Allow for rendering content as sidebars
  @include break-from-device(tablet) {

    // Modifier to float block elements
    .inline {
      float: inline-start;
      width: px2rem(234px);
      margin-inline-end: px2rem(16px);
      margin-top: 0;
      margin-bottom: px2rem(16px);

      // Modifier to move to end (ltr: right, rtl: left)
      &.end {
        float: inline-end;
        margin-inline: px2rem(16px) 0;
      }
    }
  }
}
