// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Premium sponsors
  .mdx-premium {

    // Paragraphs
    p {
      margin: 2em 0;
      text-align: center;
    }

    // Premium sponsor image
    img {
      height: px2rem(65px);
    }

    // Premium sponsor list
    p:last-child {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      // Premium sponsor link
      > a {
        display: block;
        flex-shrink: 0;
      }
    }
  }

  // Sponsorship
  .mdx-sponsorship {

    // Sponsorship list
    &__list {
      margin: 2em 0;

      // Clearfix, because we can't use overflow: auto
      &::after {
        display: block;
        clear: both;
        content: "";
      }
    }

    // Sponsorship item
    &__item {
      display: block;
      float: inline-start;
      width: px2rem(32px);
      height: px2rem(32px);
      margin: px2rem(4px);
      overflow: hidden;
      border-radius: 100%;
      transition:
        color     125ms,
        transform 125ms;
      transform: scale(1);

      // Sponsor item on focus/hover
      &:is(:focus, :hover) {
        transform: scale(1.1);

        // Sponsor avatar
        img {
          filter: grayscale(0%);
        }
      }

      // Private sponsor
      &--private {
        font-size: px2rem(12px);
        font-weight: 700;
        line-height: px2rem(32px);
        color: var(--md-default-fg-color--lighter);
        text-align: center;
        background: var(--md-default-fg-color--lightest);
      }

      // Sponsor avatar
      img {
        display: block;
        width: 100%;
        height: auto;
        filter: grayscale(100%) opacity(75%);
        transition: filter 125ms;
      }
    }
  }

  // Sponsorship button
  .mdx-sponsorship-button {
    font-weight: 400;
  }

  // Sponsorship count and total
  .mdx-sponsorship-count,
  .mdx-sponsorship-total {
    font-weight: 700;
  }
}
