// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Footnotes variables
:root {
  --md-footnotes-icon: svg-load("material/keyboard-return.svg");
}

// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Footnote container
  .footnote {
    font-size: px2rem(12.8px);
    color: var(--md-default-fg-color--light);

    // Footnote list - omit left indentation
    > ol {
      margin-inline-start: 0;

      // Footnote item - footnote items can contain lists, so we need to scope
      // the spacing adjustments to the top-level footnote item.
      > li {
        transition: color 125ms;

        // Darken color on target
        &:target {
          color: var(--md-default-fg-color);
        }

        // Show backreferences on footnote focus without transition
        &:focus-within .footnote-backref {
          opacity: 1;
          transition: none;
          transform: translateX(0);
        }

        // Show backreferences on footnote hover/target
        &:is(:hover, :target) .footnote-backref {
          opacity: 1;
          transform: translateX(0);
        }

        // Adjust spacing on first child
        > :first-child {
          margin-top: 0;
        }
      }
    }
  }

  // Footnote reference
  .footnote-ref {
    font-size: px2em(12px, 16px);
    font-weight: 700;

    // Hack: increase specificity to override default
    html & {
      outline-offset: px2rem(2px);
    }
  }

  // Show outline for all devices
  [id^="fnref:"]:target > .footnote-ref {
    outline: auto;
  }

  // Footnote backreference
  .footnote-backref {
    display: inline-block;
    // Hack: omit Unicode arrow for replacement with icon
    font-size: 0;
    color: var(--md-typeset-a-color);
    vertical-align: text-bottom;
    opacity: 0;
    transition:
      color     250ms,
      transform 250ms 250ms,
      opacity   125ms 250ms;
    transform: translateX(px2rem(5px));

    // [print]: Show footnote backreferences
    @media print {
      color: var(--md-typeset-a-color);
      opacity: 1;
      transform: translateX(0);
    }

    // Adjust for right-to-left languages
    [dir="rtl"] & {
      transform: translateX(px2rem(-5px));
    }

    // Adjust color on hover
    &:hover {
      color: var(--md-accent-fg-color);
    }

    // Footnote backreference icon
    &::before {
      display: inline-block;
      width: px2rem(16px);
      height: px2rem(16px);
      content: "";
      background-color: currentcolor;
      mask-image: var(--md-footnotes-icon);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;

      // Adjust for right-to-left languages
      [dir="rtl"] & {

        // Flip icon vertically
        svg {
          transform: scaleX(-1);
        }
      }
    }
  }
}
