<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="google-site-verification" content="z2O_j_3kBGtcul8dIU9KicUjWhRHUshbAp16m5Knvd8" />
    <title>{{ config.site_name }}</title>
    <noscript>
      <meta http-equiv="refresh" content="0;url={{ page.meta.location }}" />
    </noscript>
    <script>
      window.location.replace([
        "{{ page.meta.location }}",
        window.location.search,
        window.location.hash
      ].join(""))
    </script>
  </head>
  <body></body>
</html>
