// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Icon
.md-icon {

  // SVG defaults
  svg {
    display: block;
    width: px2rem(24px);
    height: px2rem(24px);
    fill: currentcolor;
  }
}
