// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Enforce correct box model and prevent adjustments of font size after
// orientation changes in IE and iOS
html {
  box-sizing: border-box;
  text-size-adjust: none;
}

// All elements shall inherit the document default
*,
*::before,
*::after {
  box-sizing: inherit;

  // [reduced motion]: Disable all transitions
  @media (prefers-reduced-motion) {
    transition: none !important; // stylelint-disable-line
  }
}

// Remove margin in all browsers
body {
  margin: 0;
}

// Reset tap outlines on iOS and Android
a,
button,
label,
input {
  -webkit-tap-highlight-color: transparent;
}

// Reset link styles
a {
  color: inherit;
  text-decoration: none;
}

// Normalize horizontal separator styles
hr {
  box-sizing: content-box;
  display: block;
  height: px2rem(1px);
  padding: 0;
  overflow: visible;
  border: 0;
}

// Normalize font-size in all browsers
small {
  font-size: 80%;
}

// Prevent subscript and superscript from affecting line-height
sub,
sup {
  line-height: 1em;
}

// Remove border on image
img {
  border-style: none;
}

// Reset table styles
table {
  border-spacing: 0;
  border-collapse: separate;
}

// Reset table cell styles
td,
th {
  font-weight: 400;
  vertical-align: top;
}

// Reset button styles
button {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: 0;
}

// Reset input styles
input {
  border: 0;
  outline: none;
}
