<!-- Copyright and theme information -->
<div class="md-copyright">
  {% if config.copyright %}
    <div class="md-copyright__highlight">
      {{ config.copyright }}
    </div>
  {% endif %}
  {% if not config.extra.generator == false %}
    Made with
    <a
      href="https://eee.hug.sg/"
      target="_blank" rel="noopener"
    >
      EEE 101
    </a>
  {% endif %}
</div>
