// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Arithmatex container
  div.arithmatex {
    overflow: auto;

    // [mobile -]: Align with body copy
    @include break-to-device(mobile) {
      margin: 0 px2rem(-16px);

      // Arithmatex content
      > * {
        width: min-content;
      }
    }

    // Arithmatex content
    > * {
      padding: 0 px2rem(16px);
      margin-inline: auto !important; // stylelint-disable-line
      touch-action: auto;

      // MathJax container - see https://bit.ly/3HR8YJ5
      mjx-container {
        margin: 0 !important; // stylelint-disable-line
      }
    }

    // Prevent horizontal overflow, as this element is not visible but still has
    // a height, which might be a bug in MathJax - see https://t.ly/ckPiA
    mjx-assistive-mml {
      height: 0;
    }
  }
}
