// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Deletion
  del.critic {
    background-color: var(--md-typeset-del-color);
    box-decoration-break: clone;
  }

  // Addition
  ins.critic {
    background-color: var(--md-typeset-ins-color);
    box-decoration-break: clone;
  }

  // Comment
  .critic.comment {
    color: var(--md-code-hl-comment-color);
    box-decoration-break: clone;

    // Comment opening mark
    &::before {
      content: "/* ";
    }

    // Comment closing mark
    &::after {
      content: " */";
    }
  }

  // Critic block
  .critic.block {
    display: block;
    padding-inline: px2rem(16px);
    margin: 1em 0;
    overflow: auto;
    box-shadow: none;

    // Adjust spacing on first child
    > :first-child {
      margin-top: 0.5em;
    }

    // Adjust spacing on last child
    > :last-child {
      margin-bottom: 0.5em;
    }
  }
}
