// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Details variables
:root {
  --md-details-icon: svg-load("material/chevron-right.svg");
}

// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Details
  details {
    @extend .admonition;

    display: flow-root;
    padding-top: 0;
    overflow: visible;

    // Details title icon - rotate icon on transition to open state
    &[open] > summary::after {
      transform: rotate(90deg);
    }

    // Adjust spacing for details in closed state
    &:not([open]) {
      padding-bottom: 0;
      box-shadow: none;

      // Hack: we cannot set `overflow: hidden` on the `details` element (which
      // is why we set it to `overflow: visible`, as the outline would not be
      // visible when focusing. Therefore, we must set the border radius on the
      // summary explicitly.
      > summary {
        border-radius: px2rem(2px);
      }
    }
  }

  // Details title
  summary {
    @extend .admonition-title;

    display: block;
    min-height: px2rem(20px);
    padding-inline-end: px2rem(36px);
    // Hack: Work around Firefox bug that renders a subpixel outline when
    // rotating a mask image element - see https://t.ly/qA1s4
    overflow: hidden;
    cursor: pointer;
    border-start-start-radius: px2rem(2px);
    border-start-end-radius: px2rem(2px);

    // Show outline for keyboard devices
    &.focus-visible {
      outline-color: var(--md-accent-fg-color);
      outline-offset: px2rem(4px);
    }

    // Hide outline for pointer devices
    &:not(.focus-visible) {
      outline: none;
      -webkit-tap-highlight-color: transparent;
    }

    // Details marker
    &::after {
      position: absolute;
      top: px2em(10px);
      width: px2rem(20px);
      height: px2rem(20px);
      content: "";
      background-color: currentcolor;
      transition: transform 250ms;
      transform: rotate(0deg);
      inset-inline-end: px2rem(8px);
      mask-image: var(--md-details-icon);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;

      // Adjust for right-to-left languages
      [dir="rtl"] & {
        transform: rotate(180deg);
      }
    }

    // Hide native details marker - modern
    &::marker {
      display: none;
    }

    // Hide native details marker - legacy, must be split into a seprate rule,
    // so older browsers don't consider the selector list as invalid
    &::-webkit-details-marker {
      display: none;
    }
  }
}
