// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Tasklist variables
:root {
  --md-tasklist-icon: svg-load("octicons/check-circle-fill-24.svg");
  --md-tasklist-icon--checked: svg-load("octicons/check-circle-fill-24.svg");
}

// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Tasklist item
  .task-list-item {
    position: relative;
    list-style-type: none;

    // Make checkbox items align with normal list items, but position
    // everything in ems for correct layout at smaller font sizes
    [type="checkbox"] {
      position: absolute;
      top: 0.45em;
      inset-inline-start: -2em;
    }
  }

  // Hide native checkbox, when custom classes are enabled
  .task-list-control [type="checkbox"] {
    z-index: -1;
    opacity: 0;
  }

  // Tasklist indicator in unchecked state
  .task-list-indicator::before {
    position: absolute;
    top: 0.15em;
    width: px2em(20px);
    height: px2em(20px);
    content: "";
    background-color: var(--md-default-fg-color--lightest);
    inset-inline-start: px2em(-24px);
    mask-image: var(--md-tasklist-icon);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  // Tasklist indicator in checked state
  [type="checkbox"]:checked + .task-list-indicator::before {
    background-color: $clr-green-a400;
    mask-image: var(--md-tasklist-icon--checked);
  }
}
