// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Clipboard button variables
:root {
  --md-clipboard-icon: svg-load("material/content-copy.svg");
}

// ----------------------------------------------------------------------------

// Clipboard button
.md-clipboard {
  position: absolute;
  top: px2em(8px);
  right: px2em(8px);
  z-index: 1;
  width: px2em(24px);
  height: px2em(24px);
  color: var(--md-default-fg-color--lightest);
  cursor: pointer;
  border-radius: px2rem(2px);
  outline-color: var(--md-accent-fg-color);
  outline-offset: px2rem(2px);
  transition: color 250ms;

  // [print]: Hide button
  @media print {
    display: none;
  }

  // Hide outline for pointer devices
  &:not(.focus-visible) {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  // Darken color on code block hover
  :hover > & {
    color: var(--md-default-fg-color--light);
  }

  // Button on focus/hover
  &:is(:focus, :hover) {
    color: var(--md-accent-fg-color);
  }

  // Button icon - the width and height are defined in `em`, so the size is
  // automatically adjusted for nested code blocks (e.g. in admonitions)
  &::after {
    display: block;
    width: px2em(18px);
    height: px2em(18px);
    margin: 0 auto;
    content: "";
    background-color: currentcolor;
    mask-image: var(--md-clipboard-icon);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  // Inline clipboard button
  &--inline {
    cursor: pointer;

    // Code block
    code {
      transition:
        color            250ms,
        background-color 250ms;
    }

    // Code block on focus/hover
    &:is(:focus, :hover) code {
      color: var(--md-accent-fg-color);
      background-color: var(--md-accent-fg-color--transparent);
    }
  }
}
