// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Dialog
.md-dialog {
  position: fixed;
  bottom: px2rem(16px);
  z-index: 4;
  min-width: px2rem(222px);
  padding: px2rem(8px) px2rem(12px);
  pointer-events: none;
  background-color: var(--md-default-fg-color);
  border-radius: px2rem(2px);
  box-shadow: var(--md-shadow-z3);
  opacity: 0;
  transition:
    transform 0ms   400ms,
    opacity   400ms;
  transform: translateY(100%);
  inset-inline-end: px2rem(16px);

  // [print]: Hide dialog
  @media print {
    display: none;
  }

  // Active dialog
  &--active {
    pointer-events: initial;
    opacity: 1;
    transition:
      transform 400ms cubic-bezier(0.075, 0.85, 0.175, 1),
      opacity   400ms;
    transform: translateY(0);
  }

  // Dialog wrapper
  &__inner {
    font-size: px2rem(14px);
    color: var(--md-default-bg-color);
  }
}
