// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Was this page helpful?
.md-feedback {
  margin: 2em 0 1em;
  text-align: center;

  // Feedback fieldset
  fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  // Feedback title
  &__title {
    margin: 1em auto;
    font-weight: 700;
  }

  // Feedback wrapper
  &__inner {
    position: relative;
  }

  // Feedback list
  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    place-content: baseline center;

    // Feedback icon on hover
    &:hover .md-icon:not(:disabled) {
      color: var(--md-default-fg-color--lighter);
    }

    // Adjust height after submission
    :disabled & {
      min-height: px2rem(36px);
    }
  }

  // Feedback icon
  &__icon {
    flex-shrink: 0;
    margin: 0 px2rem(2px);
    color: var(--md-default-fg-color--light);
    cursor: pointer;
    transition: color 125ms;

    // Feedback icon on hover
    &:not(:disabled).md-icon:hover {
      color: var(--md-accent-fg-color);
    }

    // Feedback icon after submit
    &:disabled {
      color: var(--md-default-fg-color--lightest);
      pointer-events: none;
    }
  }

  // Feedback note
  &__note {
    position: relative;
    opacity: 0;
    transition:
      transform 400ms cubic-bezier(0.1, 0.7, 0.1, 1),
      opacity   150ms;
    transform: translateY(px2rem(8px));

    // Feedback note value
    > * {
      max-width: px2rem(320px);
      margin: 0 auto;
    }

    // Show after submission
    :disabled & {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
