// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Form button
  .md-button {
    display: inline-block;
    padding: px2em(10px) px2em(32px);
    font-weight: 700;
    color: var(--md-primary-fg-color);
    cursor: pointer;
    border: px2rem(2px) solid currentcolor;
    border-radius: px2rem(2px);
    transition:
      color            125ms,
      background-color 125ms,
      border-color     125ms;

    // Primary button
    &--primary {
      color: var(--md-primary-bg-color);
      background-color: var(--md-primary-fg-color);
      border-color: var(--md-primary-fg-color);
    }

    // Button on focus/hover
    &:is(:focus, :hover) {
      color: var(--md-accent-bg-color);
      background-color: var(--md-accent-fg-color);
      border-color: var(--md-accent-fg-color);
    }
  }

  // Form input
  .md-input {
    height: px2rem(36px);
    padding: 0 px2rem(12px);
    font-size: px2rem(16px);
    border-bottom: px2rem(2px) solid var(--md-default-fg-color--lighter);
    border-start-start-radius: px2rem(2px);
    border-start-end-radius: px2rem(2px);
    box-shadow: var(--md-shadow-z1);
    transition:
      border     250ms,
      box-shadow 250ms;

    // Input on focus/hover
    &:is(:focus, :hover) {
      border-bottom-color: var(--md-accent-fg-color);
      box-shadow: var(--md-shadow-z2);
    }

    // Stretch to full width
    &--stretch {
      width: 100%;
    }
  }
}
