// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Metadata
.md-meta {
  font-size: px2rem(14px);
  line-height: 1.3;
  color: var(--md-default-fg-color--light);

  // Metadata list
  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  // Metadata item separator
  &__item:not(:last-child)::after {
    margin-inline: px2rem(4px);
    content: "·";
  }

  // Metadata link
  &__link {
    color: var(--md-typeset-a-color);

    // Metadata link on focus/hover
    &:is(:focus, :hover) {
      color: var(--md-accent-fg-color);
    }
  }
}

// Draft
.md-draft {
  display: inline-block;
  padding-inline: px2em(8px, 14px);
  font-weight: 700;
  color: hsla(255, 100%, 100%);
  background-color: $clr-red-a400;
  border-radius: px2em(2px);
}
