// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Progress variables
:root {
  --md-progress-value: 0;
  --md-progress-delay: 400ms;
}

// ----------------------------------------------------------------------------

// Progress indicator
.md-progress {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  height: px2rem(1.5px);
  background: var(--md-primary-bg-color);
  opacity:
    min(
      clamp(0, var(--md-progress-value), 1),
      clamp(0, 100 - var(--md-progress-value), 1)
    );
  transition:
    transform 500ms cubic-bezier(0.19, 1, 0.22, 1),
    opacity   250ms var(--md-progress-delay);
  transform: scaleX(calc(var(--md-progress-value) * 1%));
  transform-origin: left;
}
