// ----------------------------------------------------------------------------
// Keyframes
// ----------------------------------------------------------------------------

// Show repository facts
@keyframes facts {
  0% {
    height: 0;
  }

  100% {
    height: px2rem(13px);
  }
}

// Show repository fact
@keyframes fact {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Repository information variables
:root {
  --md-source-forks-icon: svg-load("octicons/repo-forked-16.svg");
  --md-source-repositories-icon: svg-load("octicons/repo-16.svg");
  --md-source-stars-icon: svg-load("octicons/star-16.svg");
  --md-source-version-icon: svg-load("octicons/tag-16.svg");
}

// ----------------------------------------------------------------------------

// Repository information
.md-source {
  display: block;
  font-size: px2rem(13px);
  line-height: 1.2;
  white-space: nowrap;
  outline-color: var(--md-accent-fg-color);
  // Hack: promote to own layer to reduce jitter
  backface-visibility: hidden;
  transition: opacity 250ms;

  // Repository information on hover
  &:hover {
    opacity: 0.7;
  }

  // Repository icon
  &__icon {
    display: inline-block;
    width: px2rem(40px);
    height: px2rem(48px);
    vertical-align: middle;

    // Align with margin only (as opposed to normal button alignment)
    svg {
      margin-inline-start: px2rem(12px);
      margin-top: px2rem(12px);
    }

    // Adjust spacing if icon is present
    + .md-source__repository {
      padding-inline-start: px2rem(40px);
      margin-inline-start: px2rem(-40px);
    }
  }

  // Repository name
  &__repository {
    display: inline-block;
    max-width: calc(100% - #{px2rem(24px)});
    margin-inline-start: px2rem(12px);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  // Repository facts
  &__facts {
    display: flex;
    gap: px2rem(8px);
    width: 100%;
    padding: 0;
    margin: px2rem(2px) 0 0;
    overflow: hidden;
    font-size: px2rem(11px);
    list-style-type: none;
    opacity: 0.75;

    // Show after the data was loaded
    .md-source__repository--active & {
      animation: facts 250ms ease-in;
    }
  }

  // Repository fact
  &__fact {
    overflow: hidden;
    text-overflow: ellipsis;

    // Show after the data was loaded
    .md-source__repository--active & {
      animation: fact 400ms ease-out;
    }

    // Repository fact icon
    &::before {
      display: inline-block;
      width: px2rem(12px);
      height: px2rem(12px);
      margin-inline-end: px2rem(2px);
      vertical-align: text-top;
      content: "";
      background-color: currentcolor;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    // Adjust spacing for 2nd+ fact
    &:nth-child(1n+2) {
      flex-shrink: 0;
    }

    // Repository fact: version
    &--version::before {
      mask-image: var(--md-source-version-icon);
    }

    // Repository fact: stars
    &--stars::before {
      mask-image: var(--md-source-stars-icon);
    }

    // Repository fact: forks
    &--forks::before {
      mask-image: var(--md-source-forks-icon);
    }

    // Repository fact: repositories
    &--repositories::before {
      mask-image: var(--md-source-repositories-icon);
    }
  }
}

// Source file information
.md-source-file {
  margin: 1em 0;

  // Source file information fact
  &__fact {
    display: inline-flex;
    gap: px2rem(6px);
    align-items: center;
    margin-inline-end: px2rem(12px);
    font-size: px2rem(13.6px);
    color: var(--md-default-fg-color--light);

    // Adjust vertical spacing
    .md-icon {
      flex-shrink: 0;
      margin-bottom: px2rem(1px);
    }

    // Author
    .md-author {
      float: inline-start;
      margin-right: px2rem(4px);
    }

    // Adjust size of icon
    svg {
      width: px2rem(18px);
    }
  }
}
