// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Status variables
:root {
  --md-status: svg-load("material/information-outline.svg");
  --md-status--new: svg-load("material/alert-decagram.svg");
  --md-status--deprecated: svg-load("material/trash-can.svg");
  --md-status--encrypted: svg-load("material/shield-lock.svg");
}

// ----------------------------------------------------------------------------

// Status
.md-status {

  // Status icon
  &::after {
    display: inline-block;
    width: px2em(18px);
    height: px2em(18px);
    vertical-align: text-bottom;
    content: "";
    background-color: var(--md-default-fg-color--light);
    mask-image: var(--md-status);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  // Status icon on hover
  &:hover::after {
    background-color: currentcolor;
  }

  // Status: new
  &--new::after {
    mask-image: var(--md-status--new);
  }

  // Status: deprecated
  &--deprecated::after {
    mask-image: var(--md-status--deprecated);
  }

  // Status: encrypted
  &--encrypted::after {
    mask-image: var(--md-status--encrypted);
  }
}
