// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Tag variables
:root {
  --md-tag-icon: svg-load("material/pound.svg");
}

// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {

  // Tag list (if not hidden)
  .md-tags:not([hidden]) {
    display: inline-flex;
    flex-wrap: wrap;
    gap: px2em(8px);
    margin-top: px2em(-2px);
    margin-bottom: px2em(12px);
  }

  // Tag
  .md-tag {
    display: inline-flex;
    gap: px2em(8px);
    align-items: center;
    padding: px2em(4px, 12.8px) px2em(10px, 12.8px);
    font-size: px2rem(12.8px); // Fallback
    font-size: min(px2em(12.8px), px2rem(12.8px));
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: initial;
    background: var(--md-default-fg-color--lightest);
    border-radius: px2rem(48px);

    // Linked tag
    &[href] {
      color: inherit;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      transition:
        color            125ms,
        background-color 125ms;

      // Linked tag on focus/hover
      &:is(:focus, :hover) {
        color: var(--md-accent-bg-color);
        background-color: var(--md-accent-fg-color);
      }
    }

    // Tag inside headline
    [id] > & {
      vertical-align: text-top;
    }
  }

  // Tag icon
  .md-tag-icon {

    // Tag icon content
    &::before {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      vertical-align: text-bottom;
      content: "";
      background-color: var(--md-default-fg-color--lighter);
      transition: background-color 125ms;
      mask-image: var(--md-tag-icon);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    // Linked tag on focus/hover
    &[href]:is(:focus, :hover)::before {
      background-color: var(--md-accent-bg-color);
    }
  }
}
