// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Back-to-top button
.md-top {
  position: fixed;
  top: px2rem(48px + 16px);
  z-index: 2;
  display: block;
  padding: px2rem(8px) px2rem(16px);
  margin-inline-start: 50%;
  font-size: px2rem(14px);
  color: var(--md-default-fg-color--light);
  cursor: pointer;
  background-color: var(--md-default-bg-color);
  border-radius: px2rem(32px);
  outline: none;
  box-shadow: var(--md-shadow-z2);
  transition:
    color            125ms,
    background-color 125ms,
    transform        125ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity          125ms;
  transform: translate(-50%, 0);

  // [print]: Hide back-to-top button
  @media print {
    display: none;
  }

  // Adjust for right-to-left languages
  [dir="rtl"] & {
    transform: translate(50%, 0);
  }

  // Back-to-top button is hidden
  &[hidden] {
    pointer-events: none;
    opacity: 0;
    transition-duration: 0ms;
    transform: translate(-50%, px2rem(4px));

    // Adjust for right-to-left languages
    [dir="rtl"] & {
      transform: translate(50%, px2rem(4px));
    }
  }

  // Back-to-top button on focus/hover
  &:is(:focus, :hover) {
    color: var(--md-accent-bg-color);
    background-color: var(--md-accent-fg-color);
  }

  // Inline icon
  svg {
    display: inline-block;
    vertical-align: -0.5em;
  }
}
