[data-md-color-scheme="default"] {
    --md-primary-fg-color: #0F52BA; /* theme color */
    --md-primary-fg-color-down: #4ECDC4; 
    --md-accent-fg-color: #3172C8;
    --md-footer-bg-color: #0F52BA;
    --md-footer-bg-color--dark: #0F52BA;
}
