.md-typeset {
    font-size: 0.8rem;
}

body {
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
}

p {
    text-align: justify;
    hyphens: auto;
    hanging-punctuation: first last;
}

/* global typeset */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
    font-weight: bold !important;
    color: var(--md-default-fg-color);
}

/* global layout */
.md-content > p {
    hyphens: auto;
    text-align: justify;
}

.rounded { border-radius: 4px; }
.bordered { border: 1px solid var(--md-default-fg-color--light); }
.upper-fix {
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.lower-fix {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* figures */
figurecaption { font-size: 80%; }
